annotated-types
anyio
arrow
bcrypt
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
cycler
fastapi
flet
flet-core
flet-runtime
fonttools
h11
httpcore
httptools
httpx
idna
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mysql
mysql-connector
mysql-connector-python
narwhals
numpy
oauthlib
packaging
pandas
passlib
pillow
plotly
pydantic
pydantic_core
Pygments
pyparsing
pypng
python-dateutil
python-dotenv
python-slugify
pytz
PyYAML
qrcode
repath
requests
rich
seaborn
six
sniffio
starlette
text-unidecode
types-python-dateutil
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websockets