# Backend / FastAPI
fastapi
uvicorn
pydantic
python-dotenv
mysql-connector-python

# Google APIs
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# Flet
flet

# Utilitários
requests
httpx
passlib
python-dateutil
pytz
arrow
numpy
pandas
matplotlib
plotly
seaborn
qrcode
rich
